.restaurantInfo.menuCreator.updateContainer{
    display:flex;
}

article.restaurantCategories {
    padding: 2rem;
    border: 1px solid;
    margin: 5px;
    display:none;

}

article.restaurants.mainParent {
    padding: 40px 20px;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

label[for="associatedGroupName"],#associatedGroupName, #associatedGroupName option{
    display:none;
}