.restaurantInfo.menuCreator.updateContainer{
    display:flex;
}

article.restaurantItems {
    padding: 2rem;
    border: 1px solid;
    margin: 5px;
    display:none;
}

article.restaurants.mainParent {
    display:flex;
    flex-wrap:wrap;
}

.restaurantGroup,
label[for="associatedGroupName"],#associatedGroupName, #associatedGroupName option,
label[for="associatedCategoryName"],#associatedCategoryName, #associatedCategoryName option{
    display:none;
}

.restaurantItems{
    display:flex;
    flex-wrap:wrap;
}

.restaurantItems h3{
    flex-basis:100%;
}

.mainDescription {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.iname.mainName, .deactivate{
    order:-1;
    flex-basis:25%;
    margin-bottom:20px;
}


/*STYLING TO MAKE IT LOOK LIKE FRONT END*/
.restaurantGroup > article{
    display:flex;
    flex-wrap:wrap;
}

.restaurantGroup article strong{
    font-size: 1.3rem;
    border-bottom: 1px solid #999;
    padding-bottom: 7px;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin-bottom: 40px;
}

.restaurantGroup > article .mainParent{
    display: flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    border: 1px solid;
    margin: 5px;
    padding: 15px;
}



